body {
    font-family: 'Courier New', Courier, monospace;
}


.playgroundModeChangeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    border-radius: 5px;
    border: 2px black solid;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: small;
}

#playgroundEditingModeChangeButton {
    position: relative;
    margin-right: 15px;
    height: min-content;
    margin: 15px;
}

#playgroundPlayingModeChangeButton {
    margin: 15px
}

.playgroundEditingPane {
    border-left-color: black;
    border-left-width: 6px;
    border-left-style: double;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: min-content;
    padding-left: 3px;
}

.playgroundEditModeSideBar {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
}

.buttonWithIcon {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 2px black solid;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonWithIcon img {
    width: 12px;
    height: 12px;
    margin: 0px;
    margin-right: 5px;
}

.buttonWithIcon p {
    white-space: nowrap;
    margin: 0px;
    font-size: 12px;
}

#playgroundWillLink {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: skyblue;
}

#playgroundWillLink:hover {
    text-decoration-style: dotted;
    text-decoration-thickness: 0.3vh;
}

#playgroundPropertyEditor {
    height: 100%;
    border-top: 3px black dotted;
    border-bottom: 3px black dotted;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#propertyColumn {
    display: flex;
    flex-direction: column;
    width: calc(100%-20px);
}

#propertyColumn div input {
    width: 80%;
    border: 0px;
    border-bottom: 1px black dashed;
    border-radius: 2px;
    margin-bottom: 10px;
}

#propertyColumn div p {
    margin: 0px auto 0px auto;
}