body {
    font-family: 'Courier New', Courier, monospace;
}

.canvas {
    font-family: sans-serif;
}

.playgroundActionButton {
    width: 70px;
    height: 30px;
    align-self: center;
    margin: 5px 0px;
    cursor: pointer;
}

.playgroundModeChangeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 100px;
    margin: 15px;
    cursor: pointer;
    display: flex;
}

#playgroundAddMenu {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playgroundEditingModeChangeButton {
    position: relative;
}

#playgroundAddButton {
    width: 70px;
    height: 91px;
    cursor: cell;
}

.playgroundEditingPane {
    border-left-color: black;
    border-left-width: 6px;
    border-left-style: double;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100px;
    padding-left: 3px;
    background-color:gainsboro;
}

.playgroundEditModeSideBar {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    z-index: 1000;
}

#propertySearchBar {
    width: min-content;
    word-break: break-word;
    width: 80%;
}

.addButton {
    padding: 5px;
    margin: 7px 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 2px black solid;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.addButton p {
    white-space: nowrap;
    margin: 0px;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

#playgroundWillLink {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: red;
}

#playgroundWillLink:hover {
    text-decoration-style: dotted;
    text-decoration-thickness: 0.3vh;
}

#playgroundPropertyEditor {
    height: 100%;
    border-top: 3px black dotted;
    border-bottom: 3px black dotted;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#propertyColumn {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    width: 100px;
}

#propertyColumn div input {
    width: 80%;
    border: 0px;
    border-bottom: 1px black dashed;
    border-radius: 2px;
    margin-bottom: 10px;
}

#propertyColumn div p {
    margin: 0px auto 0px auto;
}